<%= render 'shared/header' %>

<body>
  <div class="top-contents">

    <span class="explain">
      <p>概要</p>
      このサイトは、運動不足解消、このご時世で在宅になって出歩かなくなった…
      といった、運動不足の方々への筋トレをしよう！というサイトです。
      <br>でも、長続きしない…という皆様。</br>
      このサイトでは、筋トレの目標を設定して、達成したら各自が設定したごほうびを獲得して達成感を喜びをわかちあいましょう！
      <br>(※設定したごほうびは、各自で調達してください…)</br>
    </span>
    <div class="main-contents">
    <%# 達成した際の公開コメントを表示させる%>
      <div class="demo-pub">
         <%= image_tag '/images/test_image.png', class: "demo-img" %>
          <div class='goal-comment'>
            達成しました〜！ごほうびのランチ❤︎
          </div>
      </div>
    </div>
  <%# 達成した際のコメント(ここまで) %>
  </div>
</body>

<%= render 'shared/footer' %>