.top-page-header {
  width: 100wh;
  height: 22vh;
  padding: 0.5em 1em;
    background: -webkit-repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
    background: repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
}

.header-title {
  display: flex;
  justify-content: center;
}

.app-title {
  font-size: 30px;
  font-family: fantasy;
  padding: 40px 0 ;
}

.right-header {

}

.lists {
  display: flex;
  justify-content: flex-end;
  color: palevioletred;
  list-style-type: none;
}

.login {
  text-decoration: none;
  color: palevioletred;
}

.logout {
  text-decoration: none;
  color: palevioletred;
  padding: 0 20px;
}

.sign-up {
  text-decoration: none;
  color: palevioletred;
  padding: 0 20px;
}

.top-user-nickname {
  text-decoration: none;
  color: palevioletred;

}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 20px;
  text-decoration: none;
  list-style-type: none;
}

.content {
  font-family: fantasy;
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.5em 1em;
  text-decoration: none;
  border-left: solid 4px #668ad8;
  border-right: solid 4px #668ad8;
  color: #668ad8;
  background: #e1f3ff;
  transition: .4s;
}

// コンテンツ部分

.top-contents {
  padding-top: 20px;
  background: -webkit-repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
  background: repeating-linear-gradient(-45deg, #f0f8ff, #f0f8ff 3px,#e9f4ff 3px, #e9f4ff 7px);
  margin: 0 auto;
}

.box-inner {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
}

.mini-box {
  padding: 8px 19px;
  margin: 2em 800px;
  color: #2c2c2f;
  background: #cde4ff;
  border-top: solid 5px #5989cf;
  border-bottom: solid 5px #5989cf;
}

.main-contents {
  width: 1024px;
}

.title-top {
  padding: 30px 0 0 30px;
}

h3 {
  color:#66CCCC;
  font-size: 20px;
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: calc(100vh - 400px);
  padding-left: 20px;
}

.card {
  width: calc((100% - 50px) / 6);
  margin-bottom: 40px;
  align-self: flex-start;
  padding: 0.2em 0.5em;
  margin: 2em 50px;
  background: #d6ebff;
  box-shadow: 0px 0px 0px 10px #d6ebff;
  border: dashed 2px white;
}


.card_image, .image-demo {
  margin-bottom: 16px;
  position: relative;
}

.image-demo {
  width: 15wh;
  height: 13vh; 
}

.link-top {
  text-decoration: none;
  color: black;
}

// コンテンツ部分(ここまで)

.inc {
  color: black;
  display: flex;
  justify-content: center;
  background: -webkit-repeating-linear-gradient(-45deg, #fffccc, #fffccc 3px,white 3px, white 7px);
  background: repeating-linear-gradient(-45deg, #fffccc, #fffccc 3px,white 3px, white 7px);
  height: 60px;
  padding-top: 20px;
}