.top-page-header {
  width: 100wh;
}

.left-header {
  display: flex;
  justify-content: center;
}

.app-title {
  font-size: 30px;
  font-family: fantasy;

}

.right-header {
  align-items: flex-end;
}

.lists {
  align-items: center;
}

.user-nickname {
  text-decoration: none;
}