.my-page-header {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 20px;
}

.user-nickname {
  font-size: 20px;
}

.user-tables {


}

.new-link {
  text-decoration: none;
  color: orangered;
  font-family: fantasy;

}
/* 投稿のレイアウト */

/* .my-page-contents {
  padding: 0.2em 0.5em;
  margin: 2em 0;
  color: #565656;
  background: #ffeaea;
  box-shadow: 0px 0px 0px 10px #ffeaea;
  border: dashed 2px #ffc3c3;
  border-radius: 8px
} */

.my-page-contents {
  border: 1px solid black;
  padding-bottom: 30px;
  margin: 20px 400px;
}

.training-info {

}

.training-img-content {
  position: relative;
}

.reward-img {
  width: 10wh;
  height: 10vh;
}

.back-btn {
  text-decoration: none;
}

