.my-page-header {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-top: 20px;
}

.user-nickname {
  font-size: 20px;
}

.new-link {
  text-decoration: none;
  color: orangered;
  font-family: fantasy;
}

.user-tables {
  padding-top: 30px;
  list-style-type: none;
}



.table_col1 {
  text-align: left;
  font-weight: bold;
  border: 1px solid black;

}

.table_col2 {
  text-align: left;
  border: 1px solid black;
  border-collapse: collapse;
}



/* 投稿のレイアウト */

.user-publications {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  flex-wrap: wrap;
}

.my-page-contents {
  /* padding: 0.5em 0.5em;
  color: #565656;
  background: #ffeaea;
  box-shadow: 0px 0px 0px 10px #ffeaea;
  border: dashed 2px #ffc3c3;
  border-radius: 8px */
}

.myp-reward-img {
  width: 10wh;
  height: 10vh;
}

.back-btn {
  text-decoration: none;
}